<table>
    <tr>
      <td> Name: </td>
      <td>
        <input type="text" ngModel name="name" placeholder="Enter name">
      </td>
    </tr>
    <tr>
      <td> Email: </td>
      <td>
        <input type="text" ngModel name="Email" placeholder="Enter Email">
      </td>
    </tr>
    <tr>
      <td> password: </td>
      <td>
        <input type="password" ngModel name="password" placeholder="Enter password">
      </td>
    </tr>
    
    <tr>
      <td colspan="2">
        
        <button >submit</button>
      </td>
    </tr>
  </table>
 